<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwitchAosp">

        <!-- Main Activity - Load Type Selector -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Target Activities for each load type -->
        <activity android:name=".target.PureActivity"
            android:exported="false" />
        <activity android:name=".target.SelfLightActivity"
            android:exported="false" />
        <activity android:name=".target.SelfMediumActivity"
            android:exported="false" />
        <activity android:name=".target.SelfHeavyActivity"
            android:exported="false" />
        <activity android:name=".target.BgMediumActivity"
            android:exported="false" />
        <activity android:name=".target.BgHeavyActivity"
            android:exported="false" />
        <activity android:name=".target.SelfLightBgMediumActivity"
            android:exported="false" />
        <activity android:name=".target.SelfMediumBgMediumActivity"
            android:exported="false" />
        <activity android:name=".target.SelfMediumBgHeavyActivity"
            android:exported="false" />
        <activity android:name=".target.SelfHeavyBgHeavyActivity"
            android:exported="false" />

        <!-- Background Load Service - runs in separate process -->
        <service
            android:name="com.example.switch_common.BackgroundLoadService"
            android:process=":bg_load"
            android:exported="false" />

    </application>

</manifest>
