<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PureRenderThread">
        
        <activity
            android:name=".PureRenderMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- All 10 load activities -->
        <activity android:name=".MinimalLoadActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".LightLoadActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".MediumLoadActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".HeavyLoadActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".LightBetweenFramesActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".MediumBetweenFramesActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".HeavyBetweenFramesActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".LightMixedActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".MediumMixedActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".HeavyMixedActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
        <activity android:name=".LongFrameActivity" android:exported="true" android:theme="@style/Theme.PureRenderThread.NoActionBar" />
            
    </application>

</manifest>


